.App {
    font-family: serif;        
}

.TimeboxEditor,
.TimeboxCreator {
    display: block;
    text-align: right;
    border: 2px solid white;
    border-radius: 4px;
    padding: 20px;
 
    ;
}
.Timebox {
    padding: 4px;
    margin: 8px;
    border-radius: 4px;
    border: 2px solid white;
    background:#333;
    
    
}

.Labels {
    display: block;
}

.Inputs {
    min-width: 60%;
    margin-left: 20px;
    font-size: 1rem;
}

button {
    font-size: 1rem;
    margin-left: 1rem;
    margin-bottom: 16px;
}

.CurrentTimebox {
    border: 2px solid white;
    border-radius: 4px;
    padding: 20px;
    text-align: center;
    background:yellowgreen;
}

.clock {
    color: tomato;
    
    position:relative;

}

.ProgressBar {
    border: 2px solid tomato;
    border-radius: 4px;
    height: 24px;
    margin-bottom: 20px;
    
    position: relative;

    >div {
        position: relative;
       padding: 1px;
        height: 24px;
        background: tomato;
        max-width: 100%;
    }
}




.ProgressBar{
    &__default {
    border: 2px solid tomato;
    border-radius: 4px;
    height: 24px;
    margin-bottom: 20px;
    padding: 4px;
    position: relative;
}
}
.ProgressBar__default>div {
    height: 100%;
    background: tomato;
}

.inactive {
    filter: blur(2px) grayscale(1);

}